<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">MEAN Authentication App</h1>
    <p class="lead">Welcome to my custom MEAN authentication application built from scratch </p>
    <p><a class="btn btn-danger" [routerLink]="['/login']" role="button">Login &raquo;</a></p>
    <p><a class="btn btn-success" [routerLink]="['/register']" role="button">Register &raquo;</a></p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>
      Ex vergens fretum omni iuvenem post et bellorum discessit ab.
    </p>
  </div>
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>
      Interpretemur bonos verborum numeremus qui interpretemur nusquam virtutem qui omittamus. </p>
  </div>
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>
      Tandem spe eum haec causa ut accitus uxorem eum qua. </p>
  </div>
</div>
